/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
header {
	width: 100%;
	display: flex;
	padding: 2%;
	justify-content: space-between;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25%;
}
nav a {
	display: flex;
  align-items: center;
	margin: 0 12%;
	text-decoration: none;
	color: silver;
	font-family: 'Odibee Sans', cursive;
	font-size: 1.2rem;
}
img.logo {
	display: flex;
}
.line3 {
	display: none;
}
.title-section {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 5%;
	
}
.title-section .title {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 30%;
}
.title h1 {
	font-size: 5.5rem;
	margin-bottom: 0;
}
.title a {
	display: inline-block;
	margin-top: 15px;
}
.button {
	text-decoration: none;
	padding: 5px 40px;
	border: 1px solid black;
	color: black;
	font-size: 1.2rem;
	text-align: center;
}
section .info1 {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 40px 0 50px 0;
}
section .info1 .first-row {
	display: inline-block;
}
section .info1 .second-row {
	display: inline-block;
}
section .info1 h4 {
	text-align: left;
	font-size: 1.1rem;
}
section .info1 p { 
	display: inline-block;
	max-width: 435px;
	text-align: left;
	font-size: 1rem;
}
.middle-img {
	display: block;
	margin: 0 auto;
}

section .info2 {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
section .info2 .col1 {
	display: inline-block;
}
section .info2 .col2 {
	display: inline-block;
}
section .info2 .col3 {
	display: inline-block;
}
section .info2 h4 {
	text-align: left;
	font-size: 1.1rem;
}
section .info2 p {
	max-width: 290px;
	text-align: left;
	font-size: 1rem;
}

footer {
	margin: 50px 0 0 15%;
}
footer h5 {
	margin-bottom: 2%;
}
footer .address3 {
	margin: 1.5% 0;
}
footer .copyright {
	font-size: .9rem;
	margin: 10% 0 3% 33%;
}

.line {
	margin: 100px 0 0 155px;
	width: 75%;
	border-bottom: 1px solid black;
}
.line2 {
	margin: 40px 0 0 155px;
	width: 75%;
	border-bottom: 1px solid black;
}


@media (max-width: 800px) {
	header {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  img.logo {
    justify-content: center;
    margin: 2% 12%;
  }
  nav {
    margin-left: 0;
  }
  nav a {
    justify-content: center;
    margin: 0 6%;
  }
  .img1 {
    display: none;
  }
  .title-section .title {
    width: 41%;
  }
  .line {
    margin: 100px 0 0 112px;
  }
  section {
    max-width: 800px;
  }
  section .info1 {
    display: flex;
    width: 75%;
    justify-content: center;
    margin-left: 14%;
  }
  .first-row {
    margin: 0 2%;
  }
  .middle-img {
    margin: 0 14%;
    width: 75%;
  }
  section .info2 {
    display: flex;
    width: 75%;
    justify-content: center;
    margin-left: 14%;
  }
  section .info2 .col2 {
    margin: 0 5%;
  }
  .line2 {
    margin: 40px 0 0 112px;
    width: 75%;
    border-bottom: 1px solid black;
  }
  footer .copyright {
    font-size: .9rem;
    margin-left: 30%;
  }
}

@media (max-width: 500px) {
  header {
    max-width: 500px;
  }
  nav {
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    width: 500px;
  }
  img.logo {
    margin: 0 22%;
  }
  .line3 {
    display: block;
    width: 75%;
    border-bottom: 1px solid black;
    margin: 4% 0;
  }
  .title-section .title {
    width: 60%;
  }
  .title h1 {
    font-size: 4rem;
  }
  .button {
    padding: 5px 30px;
  }
  .line {
    margin: 100px 0 0 65px;
  }
  .line2 {
    margin: 40px 0 0 65px;
  }
  section .info1 {
    flex-direction: column;
  }
  section .info1 .first-row {
    margin-bottom: 10%;
  }
  section .info1 .second-row {
    margin: 0 2%;
  }
  section .info2 {
    flex-direction: column;
    height: 100%;
  }
  section .info2 .col2 {
    margin: 10% 0;
  }
  section .info2 p {
    max-width: 100%;
  }
  footer {
  margin-top: 40px;
  }
  footer .copyright {
    margin-left: 22%;
}
}